<header ui-view="header"></header>
<main
  ngf-drop ng-model="draggedFiles"
  ngf-drag-over-class="dragover"
  ngf-multiple="false"
  ngf-allow-dir="false"
  ngf-accept="'.json,.yaml,.yml'">

  <div ui-layout="{ flow : 'column', dividerSize: '8px'}">
    <div class="editor pane" ui-layout-container>
      <div ui-view="editor"></div>
    </div>
    <div class="preview pane" ui-layout-container>
      <div ui-view="preview"></div>
    </div>
  </div>
  <!--上层介绍页面-->
  <div ng-if="showAbout" ng-include="'templates/intro.html'"></div>
  <!--文件拖拽 ng-file-upload https://github.com/danialfarid/ng-file-upload-->
  <div class="file-drag">
    <div class="dash">
      <p>Drop your file here</p>
    </div>
  </div>
</main>
